body {
    .container {
        position: relative;
        padding-left: 80px;
        padding-right: 80px;
        height: 200px;
        background: linear-gradient(#fae100,#ffffff)
    }
}
    .circle {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        
    }
    .ractangle {
        position: absolute;
        fill: #000000;
        width: 80px;
        height: 18px;
        border-radius: 24px;
    }
    .arm {
        position: relative;
        background-color: rgb(222, 140, 0);
        width: 100px;
        height: 200px;
        border-radius: 50%;
    }
    .body {
        position: relative;
        background-color: rgb(222, 140, 0);
        width: 200px;
        height: 280px;
        border-radius: 50%;
    }
    .leg {
        position: relative;
        background-color: rgb(222, 140, 0);
        width: 80px;
        height: 200px;
        border-radius: 50px;
    }
    .triangle {
        position: absolute;
        width: 0px;
        height: 0px;
        border-bottom: 50px solid transparent;
        border-top: 50px solid rgb(220, 140, 0);
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }

    .circle-1 {
        top: 200px;
        left: 80px;        
        background-color: rgb(222, 140, 0);
        border: 4.5px solid black;

    }
    .circle-2 {
        top: 200px;
        left: 320px;
        background-color: rgb(222, 140, 0);
        border: 4.5px solid black;
    }
    .circle-3 {
        top: 340px;
        left: 200px;
        scale: 4.5;
        background-color: rgb(222, 140, 0);
        border: 1px solid black;
    }
    .ractangle-1 {
        top: 310px;
        left: 124px;
        background-color: rgb(0, 0, 0);
    }
    .ractangle-2 {
        top: 310px;
        left: 280px;
        background-color: rgb(0, 0, 0);
    }
    .circle-4 {
        top: 320px;
        left: 124px;
        scale: 0.35;
        background-color: rgb(0, 0, 0);
    }
    .circle-5 {
        top: 320px;
        left: 280px;
        scale: 0.35;
        background-color: rgb(0, 0, 0);
    }
    .circle-6 {
        top: 380px;
        left: 180px;
        scale: 0.8;
        background-color: rgb(255, 255, 255);
    }
    .circle-7 {
        top: 380px;
        left: 220px;
        scale: 0.8;
        background-color: rgb(255, 255, 255);
    }
    .circle-8 {
        top: 358px;
        left: 200px;
        scale: 0.35;
        background-color: rgb(0, 0, 0);
    }
    .arm-1 {
        top: 288px;
        left: 80px;
        border: 4.5px solid black;

    }
    .arm-2 {
        top: 88px;
        left: 272px;
        border: 4.5px solid black;

    }
    .body-1 {
        top: -160px;
        left: 124px;
        border: 4.5px solid black;
    }
    .leg-1 {
        top: -330px;
        left: 124px;
        border: 4.5px solid black;
    }
    .leg-2 {
        top: -540px;
        left: 242px;
        border: 4.5px solid black;
    }
    .body-2 {
        top: -898.5px;
        left: 128px;
        scale: 1.25;
    }
    .leg-3 {
        top: -1034px;
        left: 128.5px;
    }
    .leg-4 {
        top: -1244px;
        left: 246.5px;
    }
    .ractangle-3 {
        top: 540px;
        left: 200px;
        scale: 3;
        background-color: rgb(222, 140, 0);
    }
    .circle-9 {
        top: 588px;
        left: 200px;
        scale: 1.4;
        background-color: rgb(255, 255, 255);
    }
    .triangle-1 {
        top: 546px;
        left: 170px;
        scale: 0.5;
    }
    .triangle-2 {
        top: 546px;
        left: 210px;
        scale: 0.5;
    }